body {
    background: #f2f6ff;
    font-family: Arial;
}
.container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}
input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}
button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
}
h3 {
    text-align: center;
    color: blue;
}
